{% if settings.show_carousel %}
  <div id="carousel-wrapper">
    <div id="carousel"> 
      {% comment %}<a id="carousel-prev" class="prev browse left" title="Previous slide"><span class="arrow ir">Next</span></a>{% endcomment %}
      {% comment %}<a id="carousel-next" class="next browse right" title="Next slide"><span class="arrow ir">Previous</span></a>{% endcomment %}
          
      <ol class="items">
        
        {% if settings.show_carousel_item_1 %}
        <li>
          {% if settings.carousel_item_1_link != empty %}
          	<a href="{{ settings.carousel_item_1_link }}" target="_blank"><div style="background: url({{ 'carousel-item-1.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-1.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_2 %}
        <li>
          {% if settings.carousel_item_2_link != empty %}
          	<a href="{{ settings.carousel_item_2_link }}" target="_blank"><div style="background: url({{ 'carousel-item-2.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-2.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_3 %}
        <li>
          {% if settings.carousel_item_3_link != empty %}
          	<a href="{{ settings.carousel_item_3_link }}" target="_blank"><div style="background: url({{ 'carousel-item-3.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-3.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_4 %}
        <li>
          {% if settings.carousel_item_4_link != empty %}        
          	<a href="{{ settings.carousel_item_4_link }}" target="_blank"><div style="background: url({{ 'carousel-item-4.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-4.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}
        
        {% if settings.show_carousel_item_5 %}
        <li>
          {% if settings.carousel_item_5_link != empty %}        
          	<a href="{{ settings.carousel_item_5_link }}" target="_blank"><div style="background: url({{ 'carousel-item-5.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-5.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}
      
        {% if settings.show_carousel_item_6 %}
        <li>
          {% if settings.carousel_item_6_link != empty %}      
          	<a href="{{ settings.carousel_item_6_link }}" target="_blank"><div style="background: url({{ 'carousel-item-6.jpg' || asset_url }});"></div></a>
          {% else %}
            <div style="background: url({{ 'carousel-item-6.jpg' || asset_url }});"></div>
          {%endif%}
        </li>
        {% endif %}                                 

      </ol>  
    </div>
    {% if settings.show_carousel_dots %}
        <div id="carousel-slide-menu"></div>
    {% endif %}
  </div>
{% endif %}