<footer id="bottom">
	
	<a href="" class="topBtn">Go to the top of the page</a>
	
	<div class="wrapper">
	
		<ul class="social">
			{% if settings.facebook_link != '' %}<li><a href="{{ settings.facebook_link }}" target="_blank" title="{{ shop.name }} on Facebook" class="facebook">Facebook</a></li>{% endif %}
	    {% if settings.youtube_link != '' %}<li><a href="{{ settings.youtube_link }}" target="_blank" title="{{ shop.name }} on YouTube" class="youtube">YouTube</a></li>{% endif %}
	    {% if settings.twitter_link != '' %}<li><a href="{{ settings.twitter_link }}" target="_blank" title="{{ shop.name }} on Twitter" class="twitter">Twitter</a></li>{% endif %}
	    {% if settings.instagram_link != '' %}<li><a href="{{ settings.instagram_link }}" target="_blank" title="{{ shop.name }} on Instagram" class="instagram">Instragram</a></li>{% endif %}
	    {% if settings.yelp_link != '' %}<li><a href="{{ settings.yelp_link }}" target="_blank" title="{{ shop.name }} on Yelp" class="yelp">Yelp</a></li>{% endif %}
		</ul>
	
	  <div id="footer-left">
	  	{{ 'footer-logo.png' | asset_url | img_tag }}
	    <p>&copy; {{ 'now' | date: '%Y' }} <a href="/">{{ shop.name }}</a>. All Rights Reserved.</p>
	  </div>
	  
	  <div id="footer-right">
	  	{% assign menu = 'footer' %}
	  	{% include 'footer-navigation' %}
	  </div>
  </div>
</footer>