<ul class="footer-nav">
	<li class="title">Additional Navigation</li>
	{% for link in linklists.[{{menu}}].links %}
	<li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
	{% endfor %}
</ul>