<ul class="photo-gallery">
	{% for item in settings.gallery.images %}
		<li>
			<a href="{{ item.img_src }}" title="{{ item.caption }}" rel="fancybox">
				{{ item.img_src | img_tag }}
				<i class="enlarge"></i>
			</a>
		</li>
	{% endfor %}
</ul>