<header id="top" class="clearfix">

	<div class="header-strips">
		{% if settings.logo_image == "logo.png" %}
	    <img src="{{ 'logo.png' | asset_url }}" id="main-brand" alt="{{ shop.name | escape }}" />
	  {% endif %}
	</div>
	
	<div class="mobileLogo">
		<a href="/">{{ 'mobileBrand.png' | asset_url | img_tag }}</a>
	</div>
	
	{% comment %} Only show in mobile {% endcomment %}
	{% include 'mobile-navigation' %}
	
  <!-- Main navigation -->
  <nav class="main-navigation">
  	<div class="wrapper">
  		<ul>
  			<!-- Left side navigation -->
	      {% for link in linklists.main-menu.links %}
	      <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
					<a id="nav-{{ link.title | handleize }}" href="{{ link.url }}">{{ link.title | escape }}</a>
	      </li>
	      {% endfor %}
	      
	      <!-- Main Brand -->
	      <li class="main-nav-brand"></li>
	      
	      <!-- Right side navigation -->
	      {% for link in linklists.main-menu-2.links %}
	      <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
					<a id="nav-{{ link.title | handleize }}" href="{{ link.url }}">{{ link.title | escape }}</a>
	      </li>
	      {% endfor %}
	    </ul>
  	</div>
  </nav>

  <div id="umbrella">
    <ul>
      
      {% if shop.customer_accounts_enabled %}
        {% if customer %}
        <li>
          Welcome {{ customer.first_name }} {{ '(Log out)' | customer_logout_link }}
        </li>
        <li>
          <a href="/account">My Account</a>
        </li>
        {% else %}
        <li>
          {{ 'Log in' | customer_login_link }}
        </li>
        {% if shop.customer_accounts_optional %} 
        <li>
          {{ 'Create an account' | customer_register_link }}
        </li>
        {% endif %}
        {% endif %}
      {% endif %}

      <li class="cart-link">
        <a href="/cart" class="num-items-in-cart">
          <span class="icon">
           {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }}
          </span>
        </a>
      </li>

      <li class="checkout-link">
        <a href="/cart" class="btn">Check out</a>
      </li>

    </ul>
  </div><!-- /#umbrella -->
  
  <!-- Sub Navigation -->
  {% include 'sub-nav' %}
  
  {% if template contains 'index' and settings.show_carousel %}
  <!-- Slideshow -->
  <div class="main-slideshow">
  	{% include 'carousel' %}
  </div>
  {% endif %}
</header>