<div class="newsletter-bar">
	<div class="bg-bar"></div>
	
	<div class="wrapper">
		<p class="newsletter-text"></p>
		<div class="arrow"></div>
		
		<div class="signup">
			<fieldset>
				<input type="text" id="newsletterEmail" name="newsletterEmail" placeholder="Email Address:" />
				<button type="submit" id="newsletterSignUpBtn" name="newsletterSignUpBtn">Sign Up</button>
			</fieldset>
			<div class="msg"></div>
		</div>
	</div>
</div>

<div class="home-tagline">
	<div class="wrapper">
		<div class="content-shadow"></div>
		<img src="{{ 'tagLine.png' || asset_url }}" alt="Hollywoods best kept secret" />
		<div class="content-shadow bottom"></div>
	</div>
</div>

<div class="appointment-bar">
	<p class="wrapper home">
		NEED TO MAKE AN APPOINTMENT? CALL <span>{{ settings.appointment_number }}</span>
	</p>
</div>

<div class="home-promos-bar">
	<div class="wrapper">
		<div class="content-shadow"></div>
		<ul>
			{{ if settings.home_promo_1 }}
			<li>
				{% if settings.home_promo_1_link != "" %}
					<a href="{{ settings.home_promo_1_link }}"{% if settings.home_promo_1_link_target %} target="{{settings.home_promo_1_link_target}}"{% endif %}><img src="{{ settings.home_promo_1 || asset_url }}" alt="" /></a>
				{% else %}
					<img src="{{ settings.home_promo_1 || asset_url }}" alt="" />
				{% endif %}
			</li>
			{{ endif }}
			{{ if settings.home_promo_2 }}
			<li>
				{% if settings.home_promo_2_link != "" %}
					<a href="{{ settings.home_promo_2_link }}"{% if settings.home_promo_2_link_target %} target="{{settings.home_promo_2_link_target}}"{% endif %}><img src="{{ settings.home_promo_2 || asset_url }}" alt="" /></a>
				{% else %}
					<img src="{{ settings.home_promo_2 || asset_url }}" alt="" />
				{% endif %}
			</li>
			{{ endif }}
			<li>
				{% if settings.home_promo_3_link != "" %}
					<a href="{{ settings.home_promo_3_link }}"{% if settings.home_promo_3_link_target %} target="{{settings.home_promo_3_link_target}}"{% endif %}><img src="{{ settings.home_promo_3 || asset_url }}" alt="" /></a>
				{% else %}
					<img src="{{ settings.home_promo_3 || asset_url }}" alt="" />
				{% endif %}
			</li>
		</ul>		
		<div class="content-shadow bottom"></div>
	</div>
</div>