<div class="content-header social">
	<img src="{{ 'social-header.png' || asset_url }}" alt="Lets Stay Connected" />
</div>

<ul class="social-feeds">
	<!--<li>
		<div class="social-feed-container">
			<div class="feed-inner-container facebook">
				<i>
					<div class="icon"></div>
				</i>
				<div class="loading"></div>
			</div>
		</div>
	</li>-->
	<li>
		<div class="social-feed-container">
			<div class="feed-inner-container twitter">
				<i>
					<div class="icon"></div>
				</i>
				<div class="loading"></div>
			</div>
		</div>
	</li>
	<li>
		<div class="social-feed-container">
			<div class="feed-inner-container instagram">
				<i>
					<div class="icon"></div>
				</i>
				<div class="loading"></div>
				<ul class="uploads"></ul>
			</div>
		</div>
	</li>
	<!--<li>
		<div class="social-feed-container">
			<div class="feed-inner-container">
				<i></i>
				<div class="loading"></div>
				<a data-pin-do="embedBoard" href="http://pinterest.com/Hollywooditgirl/pins/" data-pin-scale-width="60" data-pin-scale-height="60" data-pin-board-width="130"></a>
			</div>
		</div>
	</li>-->
</ul>