<div class="mobileNavigation">
	<a href="" class="mobileNavBtn">View Menu</a>
	<ul>
		{% for link in linklists.mobile-navigation.links %}
	  <li class="{% if forloop.first %}first{% elsif forloop.last %}last{%endif%}">
			<a id="nav-{{ link.title | handleize }}" href="{{ link.url }}">{{ link.title | escape }}</a>
	  </li>
		{% endfor %}
	</ul>
</div>