<div class="product-container" id="product-{{ product.variants.first.id }}">
  <a href="{{ product.url | within: collection }}">
  	<div class="product-image">
  		<img src="{{ product.featured_image | product_img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" />
  		<div class="product-title">
  			<h3>{{ product.title }}</h3>
  		</div>
  	</div>
  	<span class="price">${{ product.price | replace: '.00', '' | replace: '00', '' }}</span>
  </a>    
</div>
