<div class="sub-navigation">
	<div class="wrapper">
		<div id="subnav-services">
			{{! Pass menu handle into sub navigation}}
			{% assign menu = 'tanning' %}
			{% include 'sub-nav-menu' %}
			
			{% assign menu = 'training' %}
			{% include 'sub-nav-menu' %}
			
			{% assign menu = 'teeth-whitening' %}
			{% include 'sub-nav-menu' %}
		</div>
		
		<div id="subnav-media">
			{% assign menu = 'media' %}
			{% include 'sub-nav-menu' %}
		</div>
	</div>
</div>