#contact-form.redeem tr td {
  border: none;
}

#contact-form.redeem label {
  width: 100%;
  display: block;
  font-weight: bold;
}

span.required {
	color: red;
}

textarea#comments {
	width: 100%;
}

select#quantity {
	width: 176px;
}

input#address2 {
	width: 50px;
}

ul.error-list.redeem {
  background: #E0360F;
  color: #FFF;
  padding: 6px 12px;
  display: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
}

div.loading {
  position:absolute;
  background: rgba(255,255,255,0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

span.redeemTrouble {
  float: right;
  width: 200px;
  color: #FFF;
  font-size: 12px;
  text-align: right;  
  margin: 8px 12px 0 0;
}

div.redeeming {
  position: absolute;
  background: url({{ 'redeemingLoadBG.png' | asset_url }}) no-repeat;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 100px;
  margin: -50px 0 0 -65px;
}

div.loader {
  background: url({{ 'loader.gif' | asset_url }}) no-repeat;
  width: 48px;
  height: 48px;
  margin: 14px 0 0 38px;
}

.contact-form .error-msg {
	display: none;
}