/*
 * author: @acutler
 * iPhone Responsive
 */
 
div.mobileLogo {
	background: url('{{ 'headerStrips.jpg' || asset_path }}') repeat;
	width: 100%;
	text-align: center;
	display: none;
	padding: 20px 0;
}

div.mobileNavigation {
	float: left;
	width: 100%;
	background: #2e2e2e; /* Old browsers */
	background: -moz-linear-gradient(top,  #2e2e2e 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e2e2e), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2e2e2e 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2e2e2e 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2e2e2e 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2e2e2e 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	font: 14px 'proximanova', Helvetica, Arial;
	display: none;
	
	a.mobileNavBtn:Link, a.mobileNavBtn:Visited {
		float: left;
		background: #60C0C8;
		width: 100%;
		color: #FFF;
		text-decoration: none;
		text-transform: uppercase;
		padding: 10px 0;
	}

	ul {
		float: left;
		width: 100%;
		margin: 20px auto;
		display: none;
		
		li {
			float: left;
			width: 100%;
			list-style: none;
			text-align: center;
			margin: 4px 0;
			
			a:Link, a:Visited {
				float: left;
				background: #60C0C8;
				width: 100%;
				color: #FFF;
				font: 20px 'proximanova', Helvetica, Arial;
				padding: 6px 0;
				text-decoration: none;
				-webkit-border-radius: 6px;
				-moz-border-radius: 6px;
				-o-border-radius: 6px;
				-ms-border-radius: 6px;
				border-radius: 6px;
			}
		}
	}
}
 
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
	
	html, body {
		width: 100%;
	}
	
	/* Globals */
	input, textarea, select {
		width: 96%;
		max-width: 96%;
	}
	
	div.header-strips {
		display: none;
	}
	
	.main-navigation {
		display: none;	
	}
	
	div.mobileNavigation {
		display: block;
	}
	
	.wrapper {
		width: 100%;
		padding: 0;
	}
	
	footer#bottom {
		display: none;
	}
	
	div.mobileLogo {
		display: block;
	}
	
	/* Cart tag */
	div#umbrella {
		display: none;
	}
	
	div.content-shadow {
		max-width: 100%;
		background-position: center top;
	}
	
	/* Sub page content */
	div#col-main {
		width: 100%;
	
		&.content {
			width: 100%;
			padding: 0;
			margin-top: 20px;
		}
		
		&.products {
			width: 100%;
		}
		
		&.product {
			width: 100%;
			margin-left: 0;
		}
	}
	
	/* Products */
	ul.product-grid {
		width: 100%;
		margin: 0 0 0 15px;
		
		li {
			width: 91%;
			margin: 0 0 10px 0;
			padding: 0;
			overflow: hidden;
			
			div.product-container {
				a:link, a:Visited {
					div.product-image {
						div.product-title {
							display: block;
						}
					}
				}
			}
		}
	}
	
	.generated-height {
		margin-right: 0;
	}
	
	/* Individual Product */
	div#product {
		width: 100%;
		max-width: 100%;
		padding: 0;
	
		div#product-gallery {
			float: none;
			width: 100%;
			max-width: 100%;
			padding: 0;
			margin: 0;	
		}
		
		div#product-information {
			float: none;	
			width: 100%;
			margin: 0;
		}
	}
	
	#cartform table {
		width: 96%;
		max-width: 96%;
		
		input.text.quantity {
			width: 30px;
		}
	}
	
	/* Redemptions */
	span.redeemTrouble {
		display: none;
	}
	
	/* Advertisers */
	ul.advertisements {
		display: none;
	}
	
	/* Home Page */
	div.main-slideshow {
		display: none;
	}
	
	/* Tag Line */
	div.home-tagline {
		.wrapper {
			img {
				width: 90%;
			}	
		}
	}
	
	div.newsletter-bar {
		display: none;
	}
	
	div.content-header.social {
		display: none;
	}
	
	/* hide social feeds */
	ul.social-feeds {
		display: none;
	}
	
	/* Hide content column shadows */
	div.column-shadow {
		display: none;
	}
	
	/* Home Promo banners */
	div.home-promos-bar .wrapper {
		padding: 0;
		
		 ul {
			 width: 100%;
			 border-left: none;
		 	
			 li {
				 width: 100%;
				 border-right: none;
			 }
		 }
	}

}