/**
 * Colour-Couture
 * A Shopify theme.
 *
 * @version     1.0
 * @author      Allan Cutler @ 211 Enterprises
 *
 */



/**
 * See: http://www.fontsquirrel.com/fonts/bebas-neue
 * Redistributed in this theme with permission from Dharma Type - March 26, 2011
 */
@font-face {
  font-family: 'BebasNeueRegular';
  src: url('BebasNeue-webfont.eot');
  src: url('BebasNeue-webfont.eot?iefix') format('eot'),
       url('BebasNeue-webfont.woff') format('woff'),
       url('BebasNeue-webfont.ttf') format('truetype'),
       url('BebasNeue-webfont.svg#webfontfvFLBU0N') format('svg');
  font-weight: normal;
  font-style: normal;
  }


@font-face {
    font-family: 'proximanova';
    src: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/proximanova.eot?730');
    src: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/proximanova.eot?%23iefix&730') format('embedded-opentype'),
         url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/proximanova.woff?730') format('woff'),
         url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/proximanova.ttf?730') format('truetype'),
         url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/proximanova.svg%23proximanova?730') format('svg');
    font-weight: normal;
    font-style: normal;
}



/**
 * Reset
 */
html, body, div, span, object, iframe, p, blockquote, pre,
abbr, address, cite, code, del, dfn, img, ins, kbd, q, samp,
small, sub, sup, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font: 13px/1.231 Helvetica, Arial, sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
ol { list-style-type: decimal; }
p { margin: 0 0 1em 0; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
select{ max-width: 99%; /* for ff */ }
input[type="text"].error, input[type="email"].error, input[type="password"].error { border-color:red }



html{ background-color: #ffffff }



/**
 * Base Content Styles
 */
body {
  color: #666666;
}

h1, h2, h3, h4, h5, h6 {
  color: #333333;
  line-height: 1.2;
  font-weight: bold;
  margin: 0 0 .5em 0;
  }
h1{ font-size: 22px; }

a { color: #666666; }
a:hover { color: #6db038 }

blockquote{
  font: italic 13px/1.5 georgia, sans-serif;
  margin: 0 0 1.5em 1.25em;
  }

ul, ol{ margin: 0 0 1.5em 1.3em; }
li{ margin: 0 0 0.25em 0; }

input, textarea{
  border: solid 1px #dddddd;
  padding: 4px;
  color: #333;
  }
input[type="image"]{ border: none; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

table{
  width: 100%;
  margin: 0 0 1.5em 0;
  border-collapse: collapse;
  }
table th{
  padding: 4px 8px;
  font-weight: bold;
  border: solid 1px #dddddd;
  color: #333333;
  background: #d6d6d6 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/table-header-depth.png?730) 0 100% repeat-x;
  }
table td{
  padding: 4px 8px;
  border: solid 1px #dddddd;
  }
tfoot th{ background: transparent; }

/**
 * Structure
 */

html,body { height: 100%; }
body { text-align: center; }

.wrapper{
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
  min-height: 100%;
  }
.ie6 .wrapper{ height: 100%; }

.content-wrapper {
	.content-shadow {
		position: absolute;
		background: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/columnShadows.png?730') 0 0 no-repeat;
		width: 31px;
		height: 484px;
		margin-left: -31px;
		overflow: hidden;
	
		&.left {}
		
		&.right {
			background-position: right 0;
			margin-left: 31px;
		}
	}	
}

#col-main{
  float: left;
  width: 740px;
  position: relative; z-index: 1;
  }
#col-main.content{
  width: 700px;
  }
#col-main.full{
  width: auto;
  float: none;
  }

#col-widgets{
  float: right;
  width: 215px;
  }


/**
 * Header
 */

#top {
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 100;
 
 	div.header-strips {
 		float: left;
		background: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/headerStrips.jpg?730') center center repeat-x;
		width: 100%;
		height: 138px;
		
		img#main-brand {
	  	width: 370px;
	  	height: 138px;
		}
	} 
}

div.main-slideshow {
	float: left;
	background: #000;
	width: 100%;
	height: 476px;
}

/**
 * Top Menu
 */

nav.main-navigation {
	float: left;
	background: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/mainNavBar.jpg?730') repeat-x;
	width: 100%;
	height: 96px;	
	
	ul {
		margin-left: 55px;
		
		li {
			float: left;
			list-style: none;
			text-transform: uppercase;
			margin-top: 36px;
			margin-right: 20px;
			
			&.main-nav-brand {
				background: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/navBrand.png?730') no-repeat;
				width: 129px;
				height: 129px;
				margin-top: -16px;
			}
			
			a:Link, a:Visited {
				color: #666666;
				font-family: 'proximanova', Helvetica, Arial;
				font-size: 24px;
				text-decoration: none;
				
				&:Hover {
					color: #6db038
				}
			}
		}	
	}
}

#top-menu{
  padding: 8px 0 0 0;
  margin: 0 0 0 -10px;
  }
#top-menu li{
  float: left;
  }
#top-menu a{
  color: #666666;
  border-right: dotted 1px #dddddd;
  font: normal 24px BebasNeueRegular, arial, sans-serif;
  padding: 4px 10px;
  text-decoration: none;
  display: block;
  }
#top-menu .first a{
  border-radius: 4px 0 0 4px;
  }
#top-menu li.last a{
  border: none;
  border-radius: 0 4px 4px 0;
  }
#top-menu a:hover,
#top-menu .active a{
  color: #6db038;
  background: #ffffff;
  }
#top-menu a:hover .nav-arrow{
  border-top-color: #6db038;
  }

/* dropdown menus */
#top-menu .has-dropdown{
  position: relative;
  }
.js #top-menu .has-dropdown a{
  padding-right: 24px;
  }

.js #top-menu .nav-arrow{
  position: absolute;
  top: 45%;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666666;
  display: block;
  }

#top-menu ul ul{
  clear: none;
  position: absolute;
  z-index: 30;
  background: #ffffff;
  top: 0;
  left: -1px;
  padding: 5px 0;
  display: none;
  width: 175px;
  -moz-box-shadow: 0 2px 3px #dddddd;
  -webkit-box-shadow: 0 2px 3px #dddddd;
  box-shadow: 0 2px 3px #dddddd;
  }
.ie6 #top-menu ul ul,
.ie7 #top-menu ul ul,
.ie8 #top-menu ul ul{
  border: solid 1px #dddddd;
  border-width: 0 1px;
  }
#top-menu ul .first ul{
  left: 0;
  }

#top-menu ul ul li{
  float: none;
  display: block;
  padding: 5px 10px;
  }
#top-menu ul ul a{
  font: 12px Helvetica, Arial, sans-serif;
  margin: 0; padding: 0;
  display: block;
  border: none;
  }
#top-menu ul ul a:hover{
  text-decoration: underline;
  }


/**
 * Header Search
 */

#header-search{
  float: right;
  margin: 0;
  }
#header-search #top-search-input{
  width: 174px;
  font-size: 12px;
  padding: 6px 3px;
  border: solid 1px #dddddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  }
#header-search #top-search-submit{
  border: none;
  width: 25px;
  height: 25px;
  
  background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/icon-search.png?730) 0 0 no-repeat;
  
  float: right;
  margin: 0 0 0 8px;
  font-size: 0; /* ie7 */
  line-height: 50px; /* ie7 */
  }
#header-search #top-search-submit:hover{
  
  background-position: 0 -25px;
  
  }

#header-search{
  width: 215px;
  }



/**
 * Shopping Cart at the Top
 */
#umbrella{
  background: #eeeeee;
  padding: 0 10px 0 12px;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  color: #666666;
  }

#umbrella ul{
  margin: 0;
  padding: 0;
  list-style: none;
  }
#umbrella li{
  float: left;
  padding: 6px 12px 10px 0;
  margin: 0 12px 0 0;
  border-right: solid 1px #cccccc;
  font-weight: normal;
  }
#umbrella p{
  margin: 0;
  }
#umbrella a{
  color: #666666;
  text-decoration: none;
  }
#umbrella a:hover{ color: #6db038; }

#umbrella .num-items-in-cart .icon{
  display: block;
  padding: 0 0 0 26px;
  @if lightness(#eeeeee) > 50 {
    background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/cart-icons.png?730) 0 0 no-repeat;    
  } @else {
    background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/cart-icons.png?730) 0 -58px no-repeat;
  }
  }
#umbrella .num-items-in-cart:hover .icon{
  @if lightness(#eeeeee) > 50 {
    background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/cart-icons.png?730) 0 -29px no-repeat;    
  } @else {
    background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/cart-icons.png?730) 0 -87px no-repeat;
  }
  }

#umbrella .checkout-link{
  padding: 0;
  margin-right: 0;
  border: none;
  }
#umbrella .checkout-link a{ color: #ffffff; }
#umbrella .checkout-link a:hover{ color: #ffffff; }

/**
 * Home Content
*/
div.home-tagline {
	padding: 10px 0;	
}

/**
 * Sections
 */

.section-details{
  margin: 0 0 10px 0;
  }
.section-details a{
  color: #666666;
  text-decoration: none;
  }
.section-details .view-more{
  float: right;
  line-height: 32px;
  }

 .section-title{
  font: normal 24px/1 BebasNeueRegular, arial, sans-serif;
  color: #666666;
  float: left;
  margin: 0;
  }

.diagonal-divider{
  
  background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/diagonal-light-grey.png?730) 0 0 repeat-x;
  padding: 16px 0 0 0;
  
  margin: 0 0 20px 0;
  }

#page-title{
  font-size: 22px;
  border-bottom: dotted 1px #dddddd;
  padding: 0 0 15px 0;
  margin: 0 0 20px 0;
  }


/**
 * Product and Collection Grid
 */

.product-grid{
  list-style: none;
  margin: 0;
  color: #666666;
  }
.product-grid li{
  width: 177px;
  float: left;
  margin: 0 10px 10px 0;
  position: relative;
  }
.product-grid .last-in-row{ margin-right: 0; }

.generated-height .product-grid-item{
  width: 177px;
  position: absolute;
  
  bottom: 0;
  
  }

.product-grid img{
  display: block;
  margin: 0 auto;
  }

.product-grid a{
  text-decoration: none;
  display: block;
  color: #333333;
  }
.product-grid a:hover{
  color: #6db038;
  }

.product-grid .product-link{
  display: block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  margin: 0;
  min-height: 50px;
  /* for ie6: */
  width: 100%;
  }

.product-photo{
  max-width: 177px;
  }
.ie6 .product-grid{ overflow: hidden; }

.product-information{
  padding: 10px;
  position: relative;
  background: #f6f6f6;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  }
.product-information h3{
  font: normal 24px/1 BebasNeueRegular, arial, sans-serif;
  margin: 5px 0 10px 0;
  }
.product-information p{
  line-height: 1.4em;
  margin: 0 0 .75em 0;
  }

.product-price{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  padding: 4px 8px;
  text-align: right;
  font-weight: bold;
  color: #333333;
  filter: alpha(opacity=85); /* internet explorer */
  -moz-opacity: 0.85;       /* mozilla, netscape */
  opacity: 0.85;           /* fx, safari, opera */
  background: #ffffff;
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
  }
#featured-grid .product-price.sale, .sale {
  background-color: #444444;
  color: #ffffff;
  }

#featured-grid li{
  width: 240px;
  background: #f6f6f6;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  }
#featured-grid .product-photo{
  max-width: 240px;
  }
#featured-grid .product-price{
  top: -30px;
  right: 0;
  bottom: auto;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 24px;
  color: #333333;
  }
#featured-products {
 	margin-top: 20px;
  	clear: both;
}
#featured-products.featured-narrow .product-grid li, #featured-products.featured-narrow .generated-height .product-grid-item { width: 167px; }
#featured-products.featured-narrow .product-photo { max-width: 167px; }


/**
 * Single Product
 */

#product-information{
  float: right;
  width: 375px;
  }

#product-actions{
  padding: 4px 0 12px 0;
  overflow: hidden;
  }

#purchase{
  float: right;
  text-align: right;
  }
.sold-out #purchase{
  float: none;
  text-align: left;
  }
#add-to-cart{
  margin: 8px 0 0 0;
  }

#product-header{
  margin: 0 0 20px 0;
  border-bottom: 1px solid #dddddd;
  }
#product-header #product-header-title{
  float: left;
  width: 60%;
  margin: 5px 0 16px 0;
  }
#product-title{
  margin: 0 0 5px 0;
  font-size: 24px;
  font-style: bold italic;
  }
#product-vendor{
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  }
#product-vendor a{
  text-decoration: none;
  }

#product-actions select{
  padding: 3px;
  }
#product-actions .price{
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: right;
  }
#product-actions .price strong{
  color: #6db038;
  display: block;
  }
#product-actions .compare_at_price{
  font-size: 12px;
  display: block;
  }

.variants-wrapper{
  text-align: right;
  margin: 0 0 8px 0;
  }
.selector-wrapper{
  margin: 0 0 8px 0 ;
  }
.selector-wrapper label{
  margin: 0 5px 0 0;
  text-align: right;
  }

#add-to-cart-msg{
  background: #fff7a0;
  padding: 10px;
  display: none;
  margin: 0;
  }

#product-information #sharing{
  margin: 16px 0 0 0;
  padding: 16px 0 0 0;
  border-top: 1px solid #dddddd;
  }
#product-information #sharing ul{
  list-style: none;
  }
#product-information #sharing li{
  margin: 0;
  float: left;
  }

/**
 * Zoomy product gallery, with thumbs
 * @see https://github.com/benwatts/enhance-gallery
 */

#product-gallery,
#active-wrapper{
  width: 303px;
  }

#active-wrapper{
  position: relative;
  min-height: 50px;
  overflow: hidden;
  margin: 0 0 10px 0;
  }
#active-wrapper img{
  display: block;
  width: auto;
  }
#active-wrapper .zoomed{
  position: absolute;
  top: 0;
  left: 0;
  }

#active-image-loading{
  background: #fff url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/icon-loading.gif?730) 50% 50% no-repeat;
  width: 40px;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  top: 42%;
  left: 42%;
  z-index: 2;
  text-indent: -900em; overflow: hidden;
  }

#thumbs{
  margin: 0;
  list-style: none;
  }
#thumbs li{
  float: left;
  margin: 0 8px 8px 0;
  width: 54px;
  height: 54px;
  text-align: center;
  }
.no-js #thumbs li{ margin-right: 6px; }
#thumbs li.last-in-row{
  margin-right: 0;
  }
#thumbs a{
  display: block;
  border: solid 1px #dddddd;
  padding: 1px;
  }
#thumbs a:hover{
  border: solid 1px #6db038;
  }
#thumbs img{
  margin: 0 auto;
  display: block;
  }



/**
 * Content
 */

.content{
  padding-bottom: 20px;
  
  padding: 20px;
  

  background: #f6f6f6;
  line-height: 1.5em;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  }
.content.description{ /* collection descriptions */
  
  padding: 10px 20px 0 20px;
  

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 15px 0 15px 0;
  float: left;
  width: 700px;
  }

article{
  margin: 20px 0 45px 0;
  
  background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/diagonal-light-grey.png?730) 0 100% repeat-x;
  
  padding: 0 0 10px 0;
  }
.templateArticle article{ margin-top: 0; }

article .author{
  color: #999;
  font-style: italic;
  line-height: 20px;
  }
article footer{
  font-size: 11px;
  padding-top: 20px;
  }
article footer p{ margin: 0; }
article footer .author{ float: left; }
article footer .comments-link{ float: right; }
article footer .btn { padding: 2px 10px; }



/**
 * Pagination
 * Modified from http://twitter.github.com/bootstrap/
 */

.pagination {
  height: 30px;
  margin: 18px 0;
  }
.pagination ul {
  float: left;
  margin: 0;
  border: 1px solid #dddddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  background: #ffffff;
  }
.pagination li {
  display: inline;
  }
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 28px;
  border-right: 1px solid #dddddd;
  text-decoration: none;
  color: #666666;
  }
.pagination a:hover, .pagination .active a {
  color: #ffffff;
  background-color: #6db038;
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;
  }
.pagination .active a{
  border-right-color: #ffffff;
  }
.pagination .disabled a, .pagination .disabled a:hover {
  background: transparent;
  color:  #dddddd;
  cursor: default;
  }
.pagination .next a {
  border: 0;
  }

.pagination-num-showing{
  float: right;
  line-height: 28px;
  font-size: 11px;
  color: #666666;
  }


/**
 * Widgets in the Right Column
 */

#col-widgets{
  color: #666666 ;
  }

#col-widgets a{ color: #333333 }
#col-widgets a:hover{ color: #6db038 }

.widget{
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: 0 0 20px 0;
  padding: 10px;
  background: #ffffff
  }

.widget h3{
  font: normal 24px BebasNeueRegular, arial, sans-serif;
  color: #333333;
  margin: 0 0 10px 0;
  }
#col-widgets .widget h3 a{
  color: #333333;
  text-decoration: none;
  }

.widget ul{ margin: 0; }
.widget li{
  padding: 0 0 5px 12px;
  list-style: none;
  }

.widget-btns a{
  background: #ffffff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  display: block;
  padding: 6px 12px;
  margin: 0 0 6px 0;
  text-decoration: none;
  overflow: hidden; height: 1%;
  }
.widget-btns img{
  display: block;
  float: left;
  margin: 0 6px 0 0;
  }
.widget-btns .btn-text{
  display:block;
  width: 165px;
  float: right;
  }

/** twitter widget */
.no-js #widget-twitter{ display: none; }
.widget .tweet_list{
  margin: 0;
  list-style: none;
  }
.widget .tweet_list li{
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  border-bottom: dotted 1px #cccccc;
  background: none;
  word-wrap: break-word;
  line-height: 1.3em;
  }

/** linklist widget */
.widget-linklist li{
  border-top: dotted 1px #cccccc;
  padding: 8px 0 0 0;
  margin: 8px 0 0 0;
  }
.widget-linklist li:first-child{
  border-top: none;
  padding: 0;
  margin: 0;
  }
.widget-linklist li a{
  display: block;
  margin: 0 0 0 12px;
  }
.ie7 .widget-linklist li a{
  float: left;
  }
.widget-linklist .arrow{
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #cccccc;
  display: block;
  float: left;
  margin: 4px 0 0 0;
  }
  
/** mailing list widget */
  
#email-input{ 
  width: 185px;
  margin-bottom:10px; 
  }
.success.feedback{
  font-weight: bold;
  color: green;
  }

/**
 * Customer Accounts
 */

.page-header #page-title{ float: left; border: none; margin: 0; }
.page-header #page-actions{ float: right; }

.templateCustomersLogin form input,
.templateCustomersRegister form input{
  float: left;
  }
.templateCustomersLogin form label,
.templateCustomersRegister form label{
  float: left;
  min-width: 120px;
  line-height: 22px;
  }
.templateCustomersLogin .form-row,
.templateCustomersActivateAccount .form-row,
.templateCustomersRegister .form-row{
  margin: 0 0 8px 0;
  }
.templateCustomersLogin .action-bottom,
.templateCustomersRegister .action-bottom{
  margin: 20px 0 0 0;
  }
.templateCustomersLogin .action-bottom .note,
.templateCustomersRegister .action-bottom .note{
  font-size: 11px;
  padding: 0 0 0 5px;
  line-height: 27px;
  }


/* >> login Form */
#customer-login,
#recover-password{
  float: left;
  width: 58%;
  border-right: solid 1px #dddddd;
  }
#recover-password{
  display: none;
  }
#recover_email label{
  min-width: 75px;
  }
#forgot_password{
  margin: 2px 0 0 5px;
  font-size: 11px;
  float: left;
  }

#guest{
  float: right;
  width: 38%
  }


/* >> manage orders and addresses */
#customer_orders{
  width: 75%;
  float: left;
  }
#customer_sidebar{
  float: right;
  width: 20%;
  }
.address p,
.view_address p{ margin: 0; }

#view_address{
  border-top: solid 1px #dddddd;
  padding: 10px 0 0 0;
  margin-top: 10px;
  display: block;
  }

.address_actions{ float: right; }
.address_actions .action_edit{
  border-right: solid 1px #dddddd;
  padding-right: 10px;
  }
.address_actions .action_delete{ padding-left: 16px; }

.action_top{  margin: 0 0 20px 0; }

.action_edit,
.action_delete,
.action_add{
  display: inline-block;
  padding-left: 16px;
  }
.action_edit{ background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/edit-sml.png?730) 0 0 no-repeat; }
.action_delete{ background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/delete-sml.png?730) 0 1px no-repeat; }
.action_add{ background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/add-sml.png?730) 0 0 no-repeat; }

.default_address{
  color: #6db038;
  }
.address_table,
#add_address{
  border: dotted 1px #dddddd;
  padding: 10px;
  margin: 0 0 20px 0;
  }
.address_table .label,
#add_address .label{
  width: 125px;
  padding-left: 0;
  }
.address_table h4{
  padding: 0 0 5px 0;
  margin: 0 0 10px 0;
  }
.customer_address_table{ margin: 0; }
.customer_address_table td{ border: none; }
.customer_address_table input{ margin: 0 5px 0 0; }
.customer_address .action-bottom{ margin-left: 141px; }


/** >> view individual orders */
.order_date{
  border-bottom: solid 1px #dddddd;
  padding: 0 0 5px 0;
  margin: 0 0 20px 0;
  }

#order_address{
  overflow: hidden; height: 1%;
  margin: 0 0 20px 0;
  }
#order_address #order_payment,
#order_address #order_shipping{
  float: left;
  width: 46%;
  margin-right: 2%;
  }



/**
 * Comments
 */

.comment{
  margin: 0 0 20px 0;
  }

.comment-author{
  float: left;
  width: 18.0%;
  padding: 12px 0 0 0;
  font-weight: bold;
  text-align: right;
  color: #333333;
  }

.comment-content{
  background: #ffffff;
  float: right;
  width: 75%;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  position: relative;
  padding: 15px;
  color: #666666
  }
.comment-arrow{
  width:0;
  height:0;
  border-bottom:8px solid transparent;
  border-top:8px solid transparent;
  border-right:8px solid #ffffff;
  font-size:0;
  line-height:0;
  position: absolute;
  top: 14px;
  left: -8px;
  }

.comment-posted{
  font-style: italic;
  margin: 0;
  font-size: 11px;
  line-height: 1;
  color: #cccccc;
  }


.comment-form label{
  display: block;
  width: 130px;
  float: left;
  }
.comment-form #comment-submit{
  margin: 0 0 10px 130px;
  }
.comment-form div{
  margin: 0 0 10px 0;
  }
.comment-form .text{
  float: left;
  border: solid 1px #ccc;
  padding: 5px;
  width: 150px;
  color: #666;
  }
.comment-form .text:focus{
  border-color: #666666;
  }
.comment-form textarea.text{
  width: 500px;
  }

.has-error label{ color: #e0360f; }
.has-error label.error-msg{ color: #fff; }
.has-error input,
.has-error textarea,
.has-error .text{
  border: solid 1px #ff0000;
  -webit-box-shadow: 0 0 4px rgba(255,0,0,.6);
  -moz-box-shadow: 0 0 4px rgba(255,0,0,.6);
  box-shadow: 0 0 4px rgba(255,0,0,.6);
  }

.error-msg,
.success-msg,
.errors{
  padding: 10px;
  color: #fff;
  text-align: left;
  background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  }
.error-msg,
.errors{
  background-color: #770e00;
  }
.success-msg{
  background-color: #387700;
  }

.errors{ margin: 0 1em 1.5em 0; }
.errors ul,
.errors li{ margin: 0; list-style: none; }



/**
 * Search
 */

#search-form{
  padding: 0 0 20px 0;
  overflow: hidden; height: 1%;
  }
#search-form #q{
  font-size: 16px;
  padding: 6px;
  width: 575px;
  border: solid 1px #dddddd;
  float: left;
  }
#search-form #search-submit{ /* overriding some of .btn's styles */
  padding-top: 7px;
  padding-bottom: 6px;
  float: right;
  width: 100px;
  }
.ie7 #search-form #search-submit{
  border: none;
  }

.results .item{
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
  border-bottom: solid 1px #dddddd;
  }
.results .thumbnail{
  float: left;
  }
.results .search-excerpt{
  margin: 0 0 0 75px;
  }



/**
 * Cart
 */

#cartform table{
  width: 100%;
  margin: 0 0 20px 0;
  }
#cartform table td{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  }
#cartform table th{
  text-align: center;
  }
col.checkout-image{ width: 50px; }
col.checkout-delete{ width: 80px; }


#cartform td img{ display: block; }
#cartform input.text { border: solid 1px #666666; padding: 4px; color: #666666; text-align: center; }

#cartform .subtotal{
  text-align: center;
  }
#cartform .update-quantities{
  text-align: center;
  padding: 5px;
  width: 170px;
  }

#checkout-proceed{
  float: right;
  width: 38%;
  text-align: right;
  }

#checkout-addnote{
  float: left;
  width: 60%;
  }
#checkout-addnote a{
  display: block;
  width: 165px;
  float: left;
  }
#checkout-addnote textarea{
  border: solid 1px #dddddd;
  color: #666666;
  width: 250px;
  height: 60px;
  float: left;
  padding: 4px;
  }
.js #checkout-addnote textarea{
  display: none;
  }

#additional-checkout-buttons{
  padding: 5px;
  margin: 5px 0 0 0;
  }
#additional-checkout-buttons-label{
  border-bottom: solid 1px #dddddd;
  display: block;
  margin: 0 0 8px 0;
  font-size: 11px;
  font-weight: bold;
  }



/**
 * Footer
 */

#bottom{
	background: url('http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/footerBG.jpg?730') repeat-x;
	width: 100%;
	height: 260px;
	color: #FFF;
  margin: 25px 0 0 0;
  font-size: 14px;
  clear: both;
  
  a:Link, a:Visited {
	  color: #FFF;
	  
	  &:Hover {
		  color: #70cbd2;
	  }
  }
  
  /*-- Copyright --*/
  p {
	  position: absolute;
	  font-size: 12px;
  }
}

#footer-left{
  width: 400px;
  float: left;
}

#footer-right{
  width: 280px;
  float: right;
  }

#bottom ul{
  list-style: none;
  margin: 0 0 10px 0
  }
#bottom li{
  float: left;
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  }
  
#footer-nav{
  margin: 14px 0 0 0;
  }
#footer-nav li{
  border-left: solid 1px #FFF;
  }
#footer-nav li:first-child{
  border-left: none;
  margin: 0;
  padding: 0;
  }

/**
 * Homepage Carousel
 */

/* Adjust this to alter the width and height of the carousel. */
#carousel,
#carousel .items > li{
  width: 100%;
  height: 476px;
  }

#carousel-wrapper {
	margin: 0;
}

#carousel{
  width: 100%;
  height: 476px;
  overflow: hidden;
  background: #F4F4F4;
  }
#carousel p,
#carousel li{
  margin: 0;
  }

#carousel .items{
  margin: 0;
  padding: 0;
  width: 20000em;
  position: absolute;
  z-index: 1;
  }
#carousel .items > li{
  float: left;
  list-style: none;
  }

#carousel .items img{ max-width: 100%; } /* I was on the fence about adding this line in, but hope it will do some good */

#carousel-controls{ margin-top: 10px; }


#carousel .browse{
  width: 20px;
  height: 100%;
  background: #ffffff;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  opacity: .9;
  display: none;
  }
#carousel-next{
  top: 0;
  right: 0;
  }
#carousel-prev{
  top: 0;
  left: 0;
  }

#carousel .arrow{
  display: block;
  position: absolute;
  top: 46%;
  }
#carousel-next .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #cccccc;
  left: 5px;
  }
#carousel-prev .arrow{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #cccccc;
  right: 5px;
  }

#carousel .browse:hover{ background: #dddddd; }
#carousel-next:hover .arrow{ border-left-color: #666666; }
#carousel-prev:hover .arrow{ border-right-color: #666666; }
#carousel-slide-menu{list-style-type:none; text-align: center;}
#carousel-slide-menu li{width:14px; height:14px; border-radius:7px; background: #000000; display:inline-block; margin:10px 3px 0; cursor: pointer;}
#carousel-slide-menu .active{background:#bbbbbb;}

/**
 * Utils
 */

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.left{ float: left; }
.right{ float: right; }

.btn,
a.btn{
  display: inline-block;
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #666666;
  color: #ffffff;
  padding: 5px 10px 4px 10px;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  cursor: pointer;
  }
  
.btn.disabled:hover,
a.btn.disabled:hover{
  border: solid 1px #666666;
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;
  color: #ffffff;
  }
  
.disabled{-moz-opacity:0.30;opacity:.30;filter:alpha(opacity=30);cursor:default;}

.btn:hover,
a.btn:hover{
  border: solid 1px #6db038;
  background: #6db038 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;;
  color: #ffffff;
  }

.btn-reversed{
  border: solid 1px #6db038;
  background: #6db038 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;;
  color: #ffffff;
  }
.btn-reversed:hover{
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/btn-small-depth.png?730) 0 100% repeat-x;
  border: solid 1px #666666;
  color: #ffffff;
  }



/**
 * Contact/Newsletter Forms
 */

.contact-form ul{
  margin: 0;
  }
.contact-form li{
  list-style: none;
  margin: 0 0 8px 0;
  }

.contact-form label{
  display: block;
  min-width: 90px;
  float: left;
  }
.contact-form textarea{
  width: 400px;
  height: 100px;
  }
.contact-form .type-submit{
  margin: 0 0 0 90px;
  }

.contact-form .error-msg{
  float: none;
  display: inline;
  margin: 0 0 0 10px;
  font-size: 11px;
  padding: 6px;
  }
.contact-form .has-error input{
  border: solid 1px #ef3a22;
  }

/**
 * Some print style resets
 */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/**
 * No products
 * Visible only to an empty store.
 */

#featured-grid .placeholder{
  display: block;
  width: 240px;
  height: 200px;
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/placeholder-product.png?730) 50% 50% no-repeat;
  }

.product-grid .placeholder{
  width: 177px;
  height: 130px;
  display: block;
  background: #666666 url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/placeholder-product.png?730) 50% 50% no-repeat;
  }


.no-products{
  position: relative;
  }
.no-products-overlay{
  opacity: .75;
  background: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BFffffff', endColorstr='#BFffffff',GradientType=0 );
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  }
.ie7 .no-products-overlay,
.ie8 .no-products-overlay{ background: transparent; }

.no-products-post-it{
  position: absolute;
  top: 125px;
  left: 198px;
  z-index: 5;
  width: 345px;
  height: 193px;
  background: url(http://cdn.shopify.com/s/files/1/0250/7049/t/2/assets/no-products-post-it.png?730) 0 0 no-repeat;
  font-family: georgia, serif;
  font-size: 16px;
  color: #4b4a43;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  }
.no-products-post-it-content{
  padding: 65px 20px 20px 20px;
  line-height: 1.4em;
  }
.no-products-post-it em{
  display: block;
  color: #3b3a34;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin: 0 0 10px 0;
  }
.no-products-post-it a{
  color: #25669c;
  }

/* Added by Caroline on January 14th for Customizr */

#product-actions input.text,
#product-actions input[type=text],
#product-actions textarea {
  width: 90%;
}

#product-actions input[type=text]:invalid,
#product-actions textarea:invalid {
  -moz-box-shadow:       inset 0 0 1px 1px #FF9494;
  -webkit-box-shadow:    inset 0 0 1px 1px #FF9494;
  box-shadow:            inset 0 0 1px 1px #FF9494;
}

.error span {
  line-height: 2;
  color: red;
}
