<div class="content-header">
	<h2>Page not found</h2>
</div>

<div id="col-main" class="content full error404">
  <h1 class="heading">Oops...</h1>
  <p>The page you're requesting has been moved or doesn't exist.</p>
</div>