<div class="content-header">
	<h2>{{ page.title }}</h2>
</div>

<div id="col-main" class="content">
	<div class="content-container">
  	<div class="inner-content">
 			{{ page.content }}
  	</div>
  </div>
  
</div><!-- /#col-main -->